/* Main */

.prepend {
    text-align: left;
}

.content {
    text-align: left;
}

/* AWESOME LINK STYLING */
.link-icon {
    font-size: 28px;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.link-icon:hover {
    color: #007BFF;
}

.link-icon i {
    margin: 8px;
}

/* Styling of an image and description */
.figure {
    display: inline-block;
    margin: 20px;
    text-align: left;
}



.slider .figure img {
    max-width: 100%;
    height: auto;
    border: 9px solid #b8b0b0;
    border-style: groove;
    cursor: pointer;
}

.figure figcaption {
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    color: #555;
}

h2 {
    margin: 20px;
}

h4 {
    margin: 0;
}

p {
    margin: 1em 0;
    line-height: 1.2em;
}