/* FOOTER */

.footer {
    height: 6rem;
    margin-top: 10px;
    background: linear-gradient(to bottom, #6C8EA9, #2B3843);
    box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.footerText {
    color: #eee;
}

.footerLink {
    color: #ff4;
}

/* Media Query */
@media (max-width:768px) {
    .footer {
        height: 7rem;
    }
}
